<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hi,</p>
    <p>
      This is to inform you that your query,
      <b>"<%= @user.question %>."</b> has reached our experts.
      <br/>
    </p>
    <p>We will knock your Mailbox again with an Answer within 24 hours.</p>
    <p>In the mean time feel free to post your other queries on <a href="www.wesearchwell.com">www.wesearchwell.com</a>.</p>
		<p>
			Thanks & Regards<br/>
			WeSearchWell Team<br/>
     	India
		</p><br/>
		<p>Please reach out to us for your invaluable suggestions and feedback at <a href="#">feedback@wesearchwell.com</a></p>
  </body>
</html>

