<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome <%= @user.user_name %></h1>
    <p>
      You have successfully posted your question in our Site. <br/>
      Your question is: <br/>
      <b><%= @user.question %>.</b>
      <br/>
    </p>
    <p>we will get back to you with solution shortly </p>
    <p>Have a great day!</p>
  </body>
</html>

