<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hi,</p>
    <p>
      Solution to your query,
      <b>"<%= @query.question %>."</b> is
      <b>"<%= @query.solution %>."</b>
      <br/>
    </p>
    <p>Visit us again with more Queries.</p>
		<p>
			Thanks & Regards<br/>
			WeSearchWell Team<br/>
     	India
		</p><br/>
		<p>Please reach out to us for your invaluable suggestions and feedback at <a href="#">feedback@wesearchwell.com</a></p>
  </body>
</html>

