/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/*.txtarea{margin-top:275px;}*/
.eml{margin-top:33px;}
.submt_btn{margin-top:24px;}

.query_eml{color:#CCCCCC; font-style:italic;}

.img{}
