<!DOCTYPE html>
<html>
<head>
  <title>We Search Well</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", "jquery.watermark.min", "jquery.data" %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color: white">

<%= yield %>

</body>
</html>

